{% extends 'shopapp/base.html' %}

{% block title %}
  Update Product
{% endblock %}

{% block body %}
  <h1 style="padding-left: 120px; color: white; font-size: 40px;">Редактировать товар</h1>
  <div>
    <form method="POST" enctype="multipart/form-data"  style="padding-left: 120px; padding-bottom: 50px; padding-top: 50px;">
      {% csrf_token %}

      {{ form.as_p }}

      <button type="submit">Сохранить</button>
    </form>
  </div>

  <div>
        <a style="padding-left: 120px; text-decoration: underline; color: rgb(119, 89, 55); font-size: 20px;" href="{% url 'shopapp:product_details' pk=object.pk %}">Назад</a>
  </div>
{% endblock %}