{% extends 'shopapp/base.html' %}

{% block title %}
  Product {{ product.pk }}
{% endblock %}

{% block body %}
  <div>
    <h1 style="color: rgb(119, 89, 55); text-align: center;"><strong>Удаление товара {{ product.name }}</strong></h1>
    <div style="color: white; text-align: center;">
        <div>
            {% if product.preview %}
                <img style="width: 400px; height: 250px" src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
            {% endif %}
        </div>
        <h1 style="color: white; text-align: center; text-shadow: 1px 1px 2px black;"><strong>{{ product.name }}</strong></h1>
        <div style="text-shadow: 1px 1px 2px black;">
            Описание:
            <en>{{ product.description }}</en>
        </div>
    </div>
    <form method="post" style="padding-left: 120px; padding-bottom: 50px; padding-top: 50px;">
      {% csrf_token %}
      <button style="background-color: rgb(119, 89, 55); color: white;" type="submit">Удалить товар</button>
    </form>
  </div>
  <div>
    <a style="text-decoration: underline; color: rgb(119, 89, 55);" href="{% url 'shopapp:products-list' %}"
    >Назад к каталогу Чикен'ов</a>
  </div>
{% endblock %}